# 2. Clean Recipe Data and Get Ingredient Information From API

In [1]:
import re

import pandas as pd
import numpy as np
import pickle
from pprint import pprint

### Load Data
Load all pickle file into list of dictionaries. Each dictionary represents 1 recipe.

In [2]:
all_recipes = []
for _ in range(1,13):
    filename = 'data/recipes_{}.pkl'.format(_)
    with open(filename, 'rb') as f:
        all_recipes.extend(pickle.load(f))
        
len(all_recipes)

5544

In [3]:
open_file = open('data/final_recipe_links.pkl', "rb")
all_recipes_links = pickle.load(open_file)
open_file.close()
len(all_recipes_links)

5544

### Quick Look at Data Structure

In [4]:
pprint(all_recipes[0])

{'course': 'Appetizer, Snack',
 'cuisine': 'American',
 'ingredients': [{'amount': '2', 'name': 'olive oil', 'unit': 'teaspoons'},
                 {'amount': '1', 'name': 'large yellow onion', 'unit': None},
                 {'amount': '4', 'name': 'garlic cloves', 'unit': None},
                 {'amount': '2', 'name': 'spinach', 'unit': 'pounds'},
                 {'amount': '1/3', 'name': 'milk', 'unit': 'cup'},
                 {'amount': '6', 'name': 'cream cheese', 'unit': 'ounces'},
                 {'amount': '1',
                  'name': 'Worcestershire sauce',
                  'unit': 'teaspoon'},
                 {'amount': '1',
                  'name': 'red pepper flakes',
                  'unit': 'teaspoon'},
                 {'amount': '3/4',
                  'name': 'shredded mozzarella',
                  'unit': 'cup'},
                 {'amount': None,
                  'name': 'Coarse salt and ground pepper',
                  'unit': None},
                 {'amount': None,
                  'name': 'Freshly made tortilla chips',
                  'unit': None},
                 {'amount': '5', 'name': 'small corn tortillas', 'unit': None},
                 {'amount': '1/2', 'name': 'vegetable oil', 'unit': 'cup'},
                 {'amount': None, 'name': 'Kosher salt', 'unit': None}],
 'instructions': ['1. Cut the tortillas into 6 triangles each. Add the oil to '
                  'a heavy bottom pan over high heat. Once the oil is '
                  'shimmering, add a few of the tortilla triangles at a time '
                  'and fry for about 1 minute on each side until they are '
                  'crisp. Remove from the oil and transfer to a paper towel. '
                  'Sprinkle with sea salt.',
                  '2. Head a large pan over medium heat and add the oil. Add '
                  'onion and garlic and cook until translucent, about 6 to 8 '
                  'minutes.',
                  '3. Add spinach and cook until completely wilted, 5 to 8 '
                  'minutes. Transfer to a colander and drain, pressing the '
                  'spinach down with the back of a wooden spoon to release all '
                  'excess liquid.',
                  '4. In the same pot, warm the milk over high heat. Whisk in '
                  'cream cheese until smooth and melted, about 3 minutes. Add '
                  'spinach, Worcestershire sauce, red pepper flakes, and '
                  'mozzarella and stir to combine. Season with salt and '
                  'pepper. Simmer over medium low heat until ready to serve. '
                  'Transfer to serving dish and serve with chips.'],
 'time': '25 minutes',
 'title': 'Spinach Dip with Tortilla Chips'}

Add url to dictionary

In [5]:
for recipe, link in zip(all_recipes, all_recipes_links):
    recipe['url'] = link
    
pprint(all_recipes[-1])

{'course': 'Dinner',
 'cuisine': 'Italian',
 'ingredients': [{'amount': '10', 'name': 'sun dried tomatoes', 'unit': None},
                 {'amount': '1', 'name': 'water', 'unit': 'cup'},
                 {'amount': '3', 'name': 'chicken broth', 'unit': 'cups'},
                 {'amount': '1',
                  'name': 'onion - finely chopped',
                  'unit': 'cup'},
                 {'amount': '2',
                  'name': 'minced cloves of garlic',
                  'unit': None},
                 {'amount': '4', 'name': 'olive oil', 'unit': 'tbsp'},
                 {'amount': '1', 'name': 'Arborio rice', 'unit': 'cup'},
                 {'amount': None, 'name': 'parmesan', 'unit': None}],
 'instructions': ['1. To start simmer the sun dried tomatoes in a small '
                  'saucepan with the cup of water for about 1 minute. Remove '
                  'the tomatoes chop them up into small pieces and set aside. '
                  'The saucepan will then have red colored water - add the '
                  'chicken stock and bring to a simmer. In another large pan '
                  'cook the onion in the olive oil for about 3 minutes and '
                  'then add the garlic and then the rice. Make sure each grain '
                  'of rice is coated in the olive oil to prevent any sticking '
                  'once the liquid is added.',
                  '2. Then add 1/2 cup of the simmering liquid to the rice '
                  'mixture. Stir until the liquid has been fully absorbed and '
                  'repeat until all the liquid has been used and the rice is '
                  'cooked to your liking! Then stir in about 1/2 cup of '
                  'Parmesan cheese and salt and pepper to taste!'],
 'time': '',
 'title': 'Sun Dried Tomato Risotto',
 'url': 'https://whatsgabycooking.com/sun-dried-tomato-risotto/'}

### Get all Recipe Names

In [6]:
all_recipe_titles = []

for recipe in all_recipes:
    all_recipe_titles.append(recipe['title'])

print(len(all_recipe_titles))
all_recipe_titles[:10]

5544

['Spinach Dip with Tortilla Chips',
 'Lemon Pepper Parmesan Wings',
 'Queso Fundido',
 '100 Super Bowl Recipe Ideas',
 'Parmesan Arancini',
 'Baked Brie',
 'Marinated Olives and Feta',
 'Cucumber Feta Salad',
 'Zucchini Fritters with Yogurt Feta Dipping Sauce',
 'Spicy Roasted Castelvetrano Olives with Feta']

In [7]:
all_recipe_titles_set = set(all_recipe_titles)
print(len(all_recipe_titles_set))

1369

### Get Ingredients from Recipes
Creating a list of ingedients from all of the recipes that we will use to call the Spoontacular API for nutrition information.

In [8]:
recipe_ingredients = []
recipe_ingredient_tuples = []

for recipe in all_recipes:
    ingredients_list = recipe['ingredients']
    for row in ingredients_list:
        name = row['name']
        amount = row['amount']
        unit = row['unit']
        
        if amount == None:
            amount = ''
        
        if unit == None:
            unit = ''
        
        ingredient = amount + ' ' + unit + ' ' + name
        
        recipe_ingredients.append(ingredient)
        recipe_ingredient_tuples.append((recipe['title'],ingredient))

print(len(recipe_ingredients))
print(len(recipe_ingredient_tuples))

recipe_ingredients[:10]

66678
66678

['2 teaspoons olive oil',
 '1  large yellow onion',
 '4  garlic cloves',
 '2 pounds spinach',
 '1/3 cup milk',
 '6 ounces cream cheese',
 '1 teaspoon Worcestershire sauce',
 '1 teaspoon red pepper flakes',
 '3/4 cup shredded mozzarella',
 '  Coarse salt and ground pepper']

Filter down to only unique ingredients to limit API calls

In [9]:
unique_ingredients = set(recipe_ingredients)
print(len(unique_ingredients))

7843

### Start a DataFrame with recipe-ingredient pairs, so we can eventually group by recipe for information on nutrition totals

In [10]:
recipe_ingredient_df = pd.DataFrame(recipe_ingredient_tuples, columns = ['recipe','ingredient_specific'])
recipe_ingredient_df.head()

                            recipe    ingredient_specific
0  Spinach Dip with Tortilla Chips  2 teaspoons olive oil
1  Spinach Dip with Tortilla Chips  1  large yellow onion
2  Spinach Dip with Tortilla Chips       4  garlic cloves
3  Spinach Dip with Tortilla Chips       2 pounds spinach
4  Spinach Dip with Tortilla Chips           1/3 cup milk

In [11]:
recipe_ingredient_df.drop_duplicates(keep = 'first', inplace = True)
print(recipe_ingredient_df.shape)
recipe_ingredient_df.head()

(14793, 2)

                            recipe    ingredient_specific
0  Spinach Dip with Tortilla Chips  2 teaspoons olive oil
1  Spinach Dip with Tortilla Chips  1  large yellow onion
2  Spinach Dip with Tortilla Chips       4  garlic cloves
3  Spinach Dip with Tortilla Chips       2 pounds spinach
4  Spinach Dip with Tortilla Chips           1/3 cup milk

In [12]:
recipe_ingredient_df.ingredient_specific.nunique()

7843

# <font color = green> Use Ingredients to Call Spoonacular API</font>

In [ ]:
import spoonacular as sp
import itertools

api = sp.API('XXXXXXXXXXXXXXXXXXXXX')

ingredients_detailed = []
issue_ingredients = []

for ingredient in unique_ingredients:
    try:
        response = api.parse_ingredients(ingredient, includeNutrition = True)
        data = response.json()

        # add the ingredient data to list as dictionary object
        ingredients_detailed.append(data)
    except:
        issue_ingredients.append(ingredient)

ingredients_detailed = list(itertools.chain(*ingredients_detailed))

In [ ]:
with open('data/detailed_ingredients.pkl', 'wb') as f:
    pickle.dump(ingredients_detailed,f)
    
with open('data/issue_ingredients.pkl', 'wb') as f:
    pickle.dump(issue_ingredients,f)

In [13]:
open_file = open('data/detailed_ingredients.pkl', "rb")
detailed_ingredients = pickle.load(open_file)
open_file.close()

print(len(detailed_ingredients))

################################

open_file = open('data/issue_ingredients.pkl', "rb")
issue_ingredients = pickle.load(open_file)
open_file.close()

print(len(issue_ingredients))

7821
22

# <font color = blue>Use ingredient aisle/category information for ClimatIQ API call</font>

In [14]:
named_tuples = []
for entry in detailed_ingredients:
    try:
        entry_tuple = (entry['original'],entry['name'],entry['aisle'])
        named_tuples.append(entry_tuple)
    except KeyError:
        entry_tuple = (entry['original'],entry['name'], None)
        named_tuples.append(entry_tuple)
    
unique_named_tuples = list(set(named_tuples))
print(type(unique_named_tuples))
print(len(unique_named_tuples))

<class 'list'>
7657

In [15]:
pprint(unique_named_tuples[:10])

[('4 tablespoons rice vinegar',
  'rice vinegar',
  'Ethnic Foods;Oil, Vinegar, Salad Dressing'),
 ('14 oz cooked lentils', 'lentils', 'Pasta and Rice;Canned and Jarred'),
 ('1 pound medium shell pasta', 'shell pasta', 'Pasta and Rice'),
 ('1 8- ounce package halloumi cheese', 'halloumi cheese', 'Cheese'),
 ('Cream Cheese + This Is Everything Seasoning', 'cream cheese', 'Cheese'),
 ('2 garlic cloves', 'garlic cloves', 'Produce'),
 ('10 oz chocolate chips plus 1 cup of Chocolate Chips',
  'chocolate chips plus 1 cup of chocolate chips',
  'Baking'),
 ('water to thin out if needed', 'water to out if needed', 'Beverages'),
 ('1 tbsp paprika', 'paprika', 'Spices and Seasonings'),
 ('1 teaspoon chipotle powder', 'chipotle powder', 'Spices and Seasonings')]

In [16]:
ingredient_df = pd.DataFrame(unique_named_tuples, columns = ['ingredient_specific','ingredient_general','aisle'])
ingredient_df.head()

,ingredient_specific,ingredient_general,aisle
0,4 tablespoons rice vinegar,rice vinegar,"Ethnic Foods;Oil, Vinegar, Salad Dressing"
1,14 oz cooked lentils,lentils,Pasta and Rice;Canned and Jarred
2,1 pound medium shell pasta,shell pasta,Pasta and Rice
3,1 8- ounce package halloumi cheese,halloumi cheese,Cheese
4,Cream Cheese + This Is Everything Seasoning,cream cheese,Cheese

In [17]:
print(f'{ingredient_df.ingredient_general.nunique()} unique ingredients (general).')
print(f'{ingredient_df.aisle.nunique()} unique aisles/categories.')

2137 unique ingredients (general).
80 unique aisles/categories.

In [18]:
ingredient_df.shape

(7657, 3)

### Pull in df of aisle-Emission ID correlations
CSV file with unique aisle identifiers and their most relevant ClimatIQ emission ID label. Full documentation on food-related emission factors can be found [here](https://explorer.climatiq.io/?category=Food%2FBeverages%2FTobacco&sector=Consumer+Goods+and+Services).

In [19]:
emission_id_df = pd.read_csv('data/aisles.csv', usecols = ['aisle','emission_ID'])
emission_id_df.head()

,aisle,emission_ID
0,Alcoholic Beverages,consumer_goods-type_wineries_wine
1,Bakery/Bread,consumer_goods-type_bread_other_baked_goods
2,Bakery/Bread;Ethnic Foods,consumer_goods-type_bread_other_baked_goods
3,"Bakery/Bread;Ethnic Foods;Oil, Vinegar, Salad ...",consumer_goods-type_bread_other_baked_goods
4,Bakery/Bread;Pasta and Rice;Ethnic Foods,consumer_goods-type_bread_other_baked_goods

In [20]:
def get_params(row):
    return {"emission_factor" : row.emission_ID, "parameters" : {"money": 5, "money_unit" : "usd"} }

emission_id_df['query_params'] = emission_id_df.apply(get_params, axis = 1)

### Function to call ClimatIQ API for each category of ingredient
For Food/Beverages/Tobacco, the ClimatIQ API uses money spent as the unit type to calculate total emissions. From the Documentation:
> Emission intensity of supply chain (with margins i.e. cradle to shelf) in US dollars spend on: <FOOD_CATEGORY>. This factor is representative of the described commodity (equivalent to a goods or services category) and was calculated from 2016 data applying IPCC 4th Assessment Report conversion factors.

To not have to run the API for each dollar amount of the same ingredient, I set all requests to $5 USD and will use the estimated cost from the `ingredients_df` to calculate the co2e for each price point.

In [ ]:
def get_co2e(row):
    time.sleep(0.1)
    
    payload = json.dumps(row['query_params'])

    headers = {"Authorization" : "Bearer XXXXXXXXXXXXXXX", "Content-Type":"application/json"}
    request_dict = requests.post('https://beta3.api.climatiq.io/estimate', data = payload, headers=headers).json()

    return request_dict['co2e']

    
    
def get_co2e_unit(row):
    time.sleep(0.1)
    
    payload = json.dumps(row['query_params'])

    headers = {"Authorization" : "Bearer XXXXXXXXXXXXXXX", "Content-Type":"application/json"}
    request_dict = requests.post('https://beta3.api.climatiq.io/estimate', data = payload, headers=headers).json()

    return request_dict['co2e_unit']


emission_id_df['co2e'] = emission_id_df.apply(get_co2e, axis = 1)
emission_id_df['co2e_unit'] = emission_id_df.apply(get_co2e_unit, axis = 1)

In [ ]:
with open('data/emission_id_df.pkl', 'wb') as f:
    pickle.dump(emission_id_df,f)

In [21]:
open_file = open('data/emission_id_df.pkl', "rb")
emission_id_df = pickle.load(open_file)
open_file.close()

In [22]:
emission_id_df.head()

,aisle,emission_ID,query_params,co2e,co2e_unit
0,Alcoholic Beverages,consumer_goods-type_wineries_wine,{'emission_factor': 'consumer_goods-type_winer...,1.650,kg
1,Bakery/Bread,consumer_goods-type_bread_other_baked_goods,{'emission_factor': 'consumer_goods-type_bread...,1.495,kg
2,Bakery/Bread;Ethnic Foods,consumer_goods-type_bread_other_baked_goods,{'emission_factor': 'consumer_goods-type_bread...,1.495,kg
3,"Bakery/Bread;Ethnic Foods;Oil, Vinegar, Salad ...",consumer_goods-type_bread_other_baked_goods,{'emission_factor': 'consumer_goods-type_bread...,1.495,kg
4,Bakery/Bread;Pasta and Rice;Ethnic Foods,consumer_goods-type_bread_other_baked_goods,{'emission_factor': 'consumer_goods-type_bread...,1.495,kg

Now that we have the carbon dioxide emissions of our food categories in `emission_id_df`, we can join with `ingredients_df` on `aisle`.

In [23]:
ingredient_emission_df = pd.merge(ingredient_df,emission_id_df, how = 'left', on = 'aisle')
ingredient_emission_df.head()

,ingredient_specific,ingredient_general,aisle,emission_ID,query_params,co2e,co2e_unit
0,4 tablespoons rice vinegar,rice vinegar,"Ethnic Foods;Oil, Vinegar, Salad Dressing",consumer_goods-type_seasonings_dressings,{'emission_factor': 'consumer_goods-type_seaso...,1.230,kg
1,14 oz cooked lentils,lentils,Pasta and Rice;Canned and Jarred,consumer_goods-type_cookies_crackers_pastas_to...,{'emission_factor': 'consumer_goods-type_cooki...,4.435,kg
2,1 pound medium shell pasta,shell pasta,Pasta and Rice,consumer_goods-type_cookies_crackers_pastas_to...,{'emission_factor': 'consumer_goods-type_cooki...,4.435,kg
3,1 8- ounce package halloumi cheese,halloumi cheese,Cheese,consumer_goods-type_cheese,{'emission_factor': 'consumer_goods-type_chees...,8.380,kg
4,Cream Cheese + This Is Everything Seasoning,cream cheese,Cheese,consumer_goods-type_cheese,{'emission_factor': 'consumer_goods-type_chees...,8.380,kg

In [24]:
ingredient_emission_df.shape

(7657, 7)

### Dataframe for Ingredient Nutrition and Cost Information

In [25]:
data_dicts = []

for entry in detailed_ingredients:

    # key to match to ingredient df
    ingredient_specific = entry['original'] 
    
    ############################################
    # estimated cost so we can calculate true co2e for each ingredient
    # all values are in US Cents
    try:
        estimatedCost = entry['estimatedCost']['value'] 
    except:
        # if no value exists going to sub in 100 US Cents = $1
        estimatedCost = [100]
        
    ############################################
    # nutrition information - amount and units
    # defaulting to 0 and None if entry isn't there
    try:
        nutrients = entry['nutrition']['nutrients']

        for row in nutrients:
            if row['name'] == 'Fat':
                try:
                    Fat = row['amount']
                except:
                    Fat = 0

                ###########
                try:
                    Fat_unit = row['unit']
                except: 
                    Fat_unit = None

            ######################
            if row['name'] == 'Sodium':
                try:
                    Sodium = row['amount']
                except: 
                    Sodium = 0

                ###########
                try:
                    Sodium_unit = row['unit']
                except: 
                    Sodium_unit = None

            ######################
            if row['name'] == 'Net Carbohydrates':
                try:
                    Net_Carbs = row['amount']
                except: 
                    Net_Carbs = 0

                ###########
                try:
                    Net_Carbs_unit = row['unit']
                except:
                    Net_Carbs_unit = None

            ######################
            if row['name'] == 'Cholesterol':
                try:
                    Cholesterol = row['amount']
                except: 
                    Cholesterol = 0

                ###########    
                try:
                    Cholest_unit = row['unit']
                except: 
                    Cholest_unit = None

            ######################
            if row['name'] == 'Carbohydrates':
                try:
                    Carbohydrates = row['amount']
                except: 
                    Carbohydrates = 0

                ###########    
                try:
                    Carbs_unit = row['unit']
                except: 
                    Carbs_unit = None

            ######################    
            if row['name'] == 'Saturated Fat':
                try:
                    Sat_Fat = row['amount']
                except: 
                    Sat_Fat = 0

                ###########    
                try:
                    Sat_Fat_unit = row['unit']
                except: 
                    Sat_Fat_unit = None

            ######################    
            if row['name'] == 'Calories':
                try:
                    Calories = row['amount']
                except: 
                    Calories = 0

                ###########    
                try:
                    Cal_unit = row['unit']
                except: 
                    Cal_unit = None

            ######################    
            if row['name'] == 'Sugar':
                try:
                    Sugar = row['amount']
                except: 
                    Sugar = 0

                ###########    
                try:
                    Sugar_unit = row['unit']
                except: 
                    Sugar_unit =None

            ######################    
            if row['name'] == 'Protein':
                try:
                    Protein = row['amount']
                except: 
                    Protein = 0

                ###########    
                try:
                    Protein_unit = row['unit']
                except: 
                    Protein_unit = None
                    
    # if ingredient doesn't have nutrition information default to 0 values
    except:
        Fat = 0
        Sodium = 0
        Net_Carbs = 0
        Cholesterol = 0
        Carbohydrates = 0
        Sat_Fat = 0
        Calories = 0
        Sugar = 0
        Protein = 0
        
        Fat_unit = None
        Sodium_unit = None
        Net_Carbs_unit = None
        Cholest_unit = None
        Carbs_unit = None
        Sat_Fat_unit = None
        Cal_unit = None
        Sugar_unit = None
        Protein_unit = None

    
    data_dict = {'ingredient_specific':ingredient_specific,
                   'estimatedCost':estimatedCost,
                   'Fat':Fat,
                   'Fat_unit':Fat_unit,
                   'Sodium':Sodium,
                   'Sodium_unit':Sodium_unit,
                   'Net_Carbs':Net_Carbs,
                   'Net_Carbs_unit':Net_Carbs_unit,
                   'Cholesterol':Cholesterol,
                   'Cholest_unit':Cholest_unit,
                   'Carbohydrates':Carbohydrates,
                   'Carbs_unit':Carbs_unit,
                   'Sat_Fat':Sat_Fat,
                   'Sat_Fat_unit':Sat_Fat_unit,
                   'Calories':Calories,
                   'Cal_unit':Cal_unit,
                   'Sugar':Sugar,
                   'Sugar_unit':Sugar_unit,
                   'Protein':Protein,
                   'Protein_unit':Protein_unit}
    
    data_dicts.append(data_dict)

In [26]:
columns = ['ingredient_specific',
           'estimatedCost',
           'Fat',
           'Fat_unit',
           'Sodium',
           'Sodium_unit',
           'Net_Carbs',
           'Net_Carbs_unit',
           'Cholesterol',
           'Cholest_unit',
           'Carbohydrates',
           'Carbs_unit',
           'Sat_Fat',
           'Sat_Fat_unit',
           'Calories',
           'Cal_unit',
           'Sugar',
           'Sugar_unit',
           'Protein',
           'Protein_unit']

nutrition_df = pd.DataFrame(data_dicts, columns = columns)
nutrition_df.head()

,ingredient_specific,estimatedCost,Fat,Fat_unit,Sodium,Sodium_unit,Net_Carbs,Net_Carbs_unit,Cholesterol,Cholest_unit,Carbohydrates,Carbs_unit,Sat_Fat,Sat_Fat_unit,Calories,Cal_unit,Sugar,Sugar_unit,Protein,Protein_unit
0,1/2 cup white wine,162.71,0.00,g,6.00,mg,3.12,g,0.0,mg,3.12,g,0.00,g,98.40,kcal,1.15,g,0.08,g
1,1 teaspoon lemon zest,16.67,0.01,g,0.12,mg,0.11,g,0.0,mg,0.32,g,0.00,g,0.94,kcal,0.08,g,0.03,g
2,1 1/2 cup homemade croutons,48.21,2.97,g,314.10,mg,30.78,g,0.0,mg,33.08,g,0.68,g,183.15,kcal,0.08,g,5.36,g
3,"1-2 limes, juiced",305.08,0.25,g,7.20,mg,28.87,g,0.0,mg,30.31,g,0.03,g,90.00,kcal,6.08,g,1.51,g
4,4 ounces Rice Chex Cereal,121.5,1.59,g,1018.31,mg,90.83,g,0.0,mg,95.82,g,0.34,g,425.24,kcal,9.19,g,7.82,g

In [27]:
print(nutrition_df.shape)
nutrition_df.info()

(7821, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7821 entries, 0 to 7820
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ingredient_specific  7821 non-null   object
 1   estimatedCost        7821 non-null   object
 2   Fat                  7821 non-null   float64
 3   Fat_unit             7659 non-null   object
 4   Sodium               7821 non-null   float64
 5   Sodium_unit          7659 non-null   object
 6   Net_Carbs            7821 non-null   float64
 7   Net_Carbs_unit       7659 non-null   object
 8   Cholesterol          7821 non-null   float64
 9   Cholest_unit         7657 non-null   object
 10  Carbohydrates        7821 non-null   float64
 11  Carbs_unit           7659 non-null   object
 12  Sat_Fat              7821 non-null   float64
 13  Sat_Fat_unit         7658 non-null   object
 14  Calories             7821 non-null   float64
 15  Cal_unit             7659 non-null   object
 16  Sugar                7821 non-null   float64
 17  Sugar_unit           7641 non-null   object
 18  Protein              7821 non-null   float64
 19  Protein_unit         7659 non-null   object
dtypes: float64(9), object(11)
memory usage: 1.2+ MB

#### Check to make sure units are consistent within each nutrient column

In [28]:
print('Fat: ', nutrition_df.Fat_unit.unique())
print('Sodium: ', nutrition_df.Sodium_unit.unique())
print('Net Carbs: ', nutrition_df.Net_Carbs_unit.unique())
print('Cholesterol: ', nutrition_df.Cholest_unit.unique())
print('Carbs: ', nutrition_df.Carbs_unit.unique())
print('Sat Fat: ', nutrition_df.Sat_Fat_unit.unique())
print('Calories: ', nutrition_df.Cal_unit.unique())
print('Sugar: ', nutrition_df.Sugar_unit.unique())
print('Sugar: ', nutrition_df.Protein_unit.unique())

Fat:  ['g' None]
Sodium:  ['mg' None]
Net Carbs:  ['g' None]
Cholesterol:  ['mg' None]
Carbs:  ['g' None]
Sat Fat:  ['g' None]
Calories:  ['kcal' None]
Sugar:  ['g' None]
Sugar:  ['g' None]

In [29]:
with open('data/ingredient_nutrition_df.pkl', 'wb') as f:
    pickle.dump(nutrition_df,f)

### Merge Nutrition Data with co2e data

In [30]:
nutrition_emission_df = pd.merge(nutrition_df,ingredient_emission_df, how = 'left', on = 'ingredient_specific')
print(nutrition_emission_df.shape)
nutrition_emission_df.info()

(7821, 26)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7821 entries, 0 to 7820
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ingredient_specific  7821 non-null   object
 1   estimatedCost        7821 non-null   object
 2   Fat                  7821 non-null   float64
 3   Fat_unit             7659 non-null   object
 4   Sodium               7821 non-null   float64
 5   Sodium_unit          7659 non-null   object
 6   Net_Carbs            7821 non-null   float64
 7   Net_Carbs_unit       7659 non-null   object
 8   Cholesterol          7821 non-null   float64
 9   Cholest_unit         7657 non-null   object
 10  Carbohydrates        7821 non-null   float64
 11  Carbs_unit           7659 non-null   object
 12  Sat_Fat              7821 non-null   float64
 13  Sat_Fat_unit         7658 non-null   object
 14  Calories             7821 non-null   float64
 15  Cal_unit             7659 non-null   object
 16  Sugar                7821 non-null   float64
 17  Sugar_unit           7641 non-null   object
 18  Protein              7821 non-null   float64
 19  Protein_unit         7659 non-null   object
 20  ingredient_general   7821 non-null   object
 21  aisle                7640 non-null   object
 22  emission_ID          7640 non-null   object
 23  query_params         7640 non-null   object
 24  co2e                 7640 non-null   float64
 25  co2e_unit            7640 non-null   object
dtypes: float64(10), object(16)
memory usage: 1.6+ MB

In [31]:
drop_cols = ['Fat_unit', 'Sodium_unit','Net_Carbs_unit','Cholest_unit','Carbs_unit','Sat_Fat_unit','Cal_unit',
            'Sugar_unit','Protein_unit','query_params']

nutrition_emission_df.drop(drop_cols, axis = 1, inplace = True)
nutrition_emission_df.head()

,ingredient_specific,estimatedCost,Fat,Sodium,Net_Carbs,Cholesterol,Carbohydrates,Sat_Fat,Calories,Sugar,Protein,ingredient_general,aisle,emission_ID,co2e,co2e_unit
0,1/2 cup white wine,162.71,0.00,6.00,3.12,0.0,3.12,0.00,98.40,1.15,0.08,white wine,Alcoholic Beverages,consumer_goods-type_wineries_wine,1.650,kg
1,1 teaspoon lemon zest,16.67,0.01,0.12,0.11,0.0,0.32,0.00,0.94,0.08,0.03,lemon zest,Produce,consumer_goods-type_fruit_vegetable_preservation,2.630,kg
2,1 1/2 cup homemade croutons,48.21,2.97,314.10,30.78,0.0,33.08,0.68,183.15,0.08,5.36,croutons,"Oil, Vinegar, Salad Dressing",consumer_goods-type_refined_vegetable_olive_se...,3.685,kg
3,"1-2 limes, juiced",305.08,0.25,7.20,28.87,0.0,30.31,0.03,90.00,6.08,1.51,juice of lime,Produce,consumer_goods-type_fruit_vegetable_preservation,2.630,kg
4,4 ounces Rice Chex Cereal,121.5,1.59,1018.31,90.83,0.0,95.82,0.34,425.24,9.19,7.82,rice chex cereal,Cereal,consumer_goods-type_breakfast_cereals,4.165,kg

In [32]:
nutrition_emission_df.shape

(7821, 16)

### Merge Ingredient Data with Recipe data

#### <font color = gray>*Grouped By Recipe Only*</font>

In [33]:
recipe_ingredient_df.head()

                            recipe    ingredient_specific
0  Spinach Dip with Tortilla Chips  2 teaspoons olive oil
1  Spinach Dip with Tortilla Chips  1  large yellow onion
2  Spinach Dip with Tortilla Chips       4  garlic cloves
3  Spinach Dip with Tortilla Chips       2 pounds spinach
4  Spinach Dip with Tortilla Chips           1/3 cup milk

In [34]:
final_recipes_df = pd.merge(recipe_ingredient_df, nutrition_emission_df, how = 'left', on = 'ingredient_specific')
print(final_recipes_df.shape)
final_recipes_df.head()

(16281, 17)

,recipe,ingredient_specific,estimatedCost,Fat,Sodium,Net_Carbs,Cholesterol,Carbohydrates,Sat_Fat,Calories,Sugar,Protein,ingredient_general,aisle,emission_ID,co2e,co2e_unit
0,Spinach Dip with Tortilla Chips,2 teaspoons olive oil,9.53,8.00,0.16,0.00,0.00,0.00,1.10,70.72,0.00,0.00,olive oil,"Oil, Vinegar, Salad Dressing",consumer_goods-type_refined_vegetable_olive_se...,3.685,kg
1,Spinach Dip with Tortilla Chips,1 large yellow onion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Spinach Dip with Tortilla Chips,4 garlic cloves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spinach Dip with Tortilla Chips,2 pounds spinach,809.99,3.54,716.68,12.97,0.00,32.93,0.57,208.65,3.81,25.95,spinach,Produce,consumer_goods-type_fruit_vegetable_preservation,2.630,kg
4,Spinach Dip with Tortilla Chips,1/3 cup milk,11.03,2.64,34.97,3.90,8.13,3.90,1.52,49.61,4.11,2.56,milk,"Milk, Eggs, Other Dairy",consumer_goods-type_fluid_milk_butter,7.750,kg

In [35]:
final_recipes_df['co2e_actual'] = (final_recipes_df.estimatedCost * final_recipes_df.co2e) / 500
final_recipes_df['co2e_actual'] = final_recipes_df['co2e_actual'].astype(float)

In [36]:
recipe_total_values = final_recipes_df.drop(['estimatedCost','ingredient_specific','ingredient_general','aisle',
                                             'emission_ID','co2e','co2e_unit'],
                                             axis = 1)

grouped_recipe_totals = recipe_total_values.groupby('recipe').sum().reset_index()
grouped_recipe_totals.head()

,recipe,Fat,Sodium,Net_Carbs,Cholesterol,Carbohydrates,Sat_Fat,Calories,Sugar,Protein,co2e_actual
0,100 Super Bowl Recipe Ideas,289.24,4936.56,17.96,622.13,18.53,130.38,3200.21,8.73,129.97,17.394033
1,20 Ways to Make Avocado Toast,9.80,694.75,24.07,14.52,25.96,3.17,210.72,8.95,6.43,1.022725
2,21 Best Soup Recipes,123.63,629.06,95.90,0.00,163.76,105.72,1892.35,44.27,57.47,2.329693
3,4th of July Jigglers,1.24,22.44,55.76,0.00,60.99,0.10,664.23,51.27,0.81,2.889661
4,4th of July Mix,333.51,5641.40,1182.85,205.28,1269.26,193.79,8244.84,727.45,131.23,11.969721

In [37]:
grouped_recipe_totals.shape

(1295, 11)

#### <font color = gray>*Grouped By Recipe and Ingredient Category*</font>

In [38]:
recipe_category_values = final_recipes_df.drop(['estimatedCost','ingredient_specific','ingredient_general','aisle',
                                                'co2e','co2e_unit'],
                                                 axis = 1)
grouped_recipe_categories = recipe_category_values.groupby(['recipe','emission_ID']).sum().reset_index()
grouped_recipe_categories.head()

,recipe,emission_ID,Fat,Sodium,Net_Carbs,Cholesterol,Carbohydrates,Sat_Fat,Calories,Sugar,Protein,co2e_actual
0,100 Super Bowl Recipe Ideas,consumer_goods-type_cheese,130.86,2941.44,9.31,405.70,9.31,83.56,1610.36,4.95,99.19,10.525448
1,100 Super Bowl Recipe Ideas,consumer_goods-type_fluid_milk_butter,15.13,61.33,2.21,39.87,2.21,8.82,147.97,2.21,1.59,0.806310
2,100 Super Bowl Recipe Ideas,consumer_goods-type_packaged_meat_except_poultry,87.32,1456.40,2.82,145.20,2.82,29.25,917.40,0.00,27.76,5.923088
3,100 Super Bowl Recipe Ideas,consumer_goods-type_seasonings_dressings,55.93,477.39,3.62,31.36,4.19,8.75,524.48,1.57,1.43,0.139187
4,20 Ways to Make Avocado Toast,consumer_goods-type_all_other_foods,0.00,398.65,7.97,0.00,7.97,0.00,26.35,5.31,0.00,0.118511

In [39]:
grouped_recipe_categories.shape

(5210, 12)

## <font color = red> Add data frames and dictionaries to MongoDB collection</font>

In [4]:
import pymongo
from pymongo import MongoClient
from getpass import getpass

`all_recipes` is already set up as dictionary entries, so we'll convert our recipe-nutrition-emission dataframes into a list of dictionary entries as each document for MongoDB.

In [45]:
grouped_recipe_categories_dict = grouped_recipe_categories.to_dict('records')
grouped_recipe_totals_dict = grouped_recipe_totals.to_dict('records')

Connect to MongoDB with Mongo Atlas. We'll then insert our three data collections for access in the app.

In [49]:
client = MongoClient("mongodb+srv://srobbins13:yFgUZTu1s3RLqo6c@recipecluster.qtpe1.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client['RecipeData']
collection = db['recipes_text']

collection.insert_many(all_recipes)

In [52]:
collection2 = db['recipes_totals']
collection2.insert_many(grouped_recipe_totals_dict)

In [53]:
collection3 = db['recipes_categories']
collection3.insert_many(grouped_recipe_categories_dict)